// _mixins.scss

// Mixin cho text
@mixin mText($fz: $text-base, $fw: $fw-normal, $c: $text-dark) {
    font-size: $fz;
    font-weight: $fw;
    color: $c;
}

// Mixin cho button
@mixin mButton($fz, $fw, $c, $bg, $p, $bd, $br, $bg-hover, $c-hover) {
    @include mText($fz, $fw, $c);
    background: $bg;
    padding: $p;
    border: $bd;
    border-radius: $br;
    transition: all 0.5s;
    cursor: pointer;
    
    &:hover {
        color: $c-hover;
        background: $bg-hover;
    }
}
