.promotionWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.promotionContainer {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 40px 0;
}

.promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fef5e6;
  border-radius: 10px;
  min-width: 300px;
  flex-shrink: 0; /* Giữ cho các mục không co lại khi cuộn */
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    min-width: 100%;
  }
}

.content {
  max-width: 50%;

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.2;

    .highlight {
      color: #ff4500;
      font-weight: bold;
    }
  }

  p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }

  .ctaButton {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #555;
    }
  }
}

.imageContainer {
  max-width: 40%;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.scrollButtonLeft,
.scrollButtonRight {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }
}

.scrollButtonLeft {
  left: 10px;
}

.scrollButtonRight {
  right: 10px;
}
